jaxws-mtom/mtom-server/FileReceiverServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.soap.example.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FileReceiverServiceService" targetNamespace="http://server.soap.example.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://server.soap.example.org/" elementFormDefault="unqualified" targetNamespace="http://server.soap.example.org/" version="1.0">

  <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
  <xs:element name="uploadFile" type="tns:uploadFile"/>

  <xs:element name="uploadFileResponse" type="tns:uploadFileResponse"/>

  <xs:complexType name="uploadFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadFile">
    <wsdl:part element="tns:uploadFile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadFileResponse">
    <wsdl:part element="tns:uploadFileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FileReceiverService">
    <wsdl:operation name="uploadFile">
      <wsdl:input message="tns:uploadFile" name="uploadFile">
    </wsdl:input>
      <wsdl:output message="tns:uploadFileResponse" name="uploadFileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileReceiverServiceServiceSoapBinding" type="tns:FileReceiverService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadFile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileReceiverServiceService">
    <wsdl:port binding="tns:FileReceiverServiceServiceSoapBinding" name="FileReceiverServicePort">
      <soap:address location="http://localhost:8080/mtom-server/FileReceiverService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>